/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global styles */

body {
    background-position:left top;
    background-attachment:fixed;
    font-family:"Palatino Linotype","Book Antiqua", Palatino, serif;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
}
 
a:active {
	color: #000;
}

/*header*/

header {
	height: 115px;
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
}

img.banner {
	background-color: #FFFFFF;
	width: 960px;
    height: 115px;
	margin: left;
}

/*nav rules*/

nav{
    width: 1200px;
    text-align: center;
    background-color: #FFFFFF;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: center;
    margin-left: 340px;
}

nav li {
    height: 70px;
    line-height: 25px;
    float: left;
    padding: 0px 5px;
    color:#FFFFFF;
    text-decoration: none;
    text-align: center;
}

nav a:link, nav a:visited {
    font-size: 17px;
    border: 2px solid #2D3F88;
    background-color: #FFFFFF;
    width: 125px;
    display: block;
    text-align: center;
    border-radius: 125px;
    height: 80px;
    padding-top: 45px;
}

nav a:hover {
    text-decoration:none;
    background:#99BBF8;
    color:#000;
}

article {
    float: center;
}

img.skydive {
    padding-top: 80px;
    margin-left: 15px;
    margin: center;
    width: 1200px; 
    height: 600px; 
}

/*footer*/

footer {
    height: 75px;
    background-color: #FFFFFF;
    float: center;
    margin-top: 25px;
	margin-left: 0px;
    margin-right: 0px;
	margin-bottom: 20px;
    text-align: center;
	border-top: 1px solid #99BBF8;
	padding-top: 25px;
}

footer li {
	display:inline;
    list-style-type:none;
    padding:0px 10px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color:#99BBF8;
    text-decoration-color: #000;
}

footer ul {
    margin:0;
    padding:10;
}

/*about me paragraph*/

aboutme {
	float: left;
	margin-left: 0px;
	font-family: gillsansmt;
	width: 350px;
	font-size: 12px;
}

p { padding-bottom: 5px; 
}

/*about me paragraph 2*/

aboutme2 {
	float: right;
	margin-left: 20px;
	font-family: gillsansmt;
	width: 350px;
	font-size: 12px;
}

p { 
    padding-bottom: 5px;
}

/*contact me paragraph*/

contacttitle {
    font-family: gillsansmt;
    font-size: 25px;
    text-align: center;
}

contactparagraph {
    margin-left: 15px;
    margin-right: 15px;
    font-family: gillsansmt;    text-align: center; 
}
